# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

# omitting "script:" will default to phpunit
script: phpunit --coverage-text --testdox
